<script type="text/javascript" src="/static/lib/bootStrap/table/bootstrap-table.min.js"></script>
<script type="text/javascript" src="/static/lib/bootStrap/table/bootstrap-table-zh-CN.js"></script>
<script type="text/javascript" src="/static/utils/xTree/jquery-xTree.js"></script>
<script>
    //公共变量
    var $box = $('#indexBody');
    /**
     * 用户名
     * @type {string}
     */
    var xClientUsername = sessionStorage.getItem("x-client-username");
    /**
     * 用户token
     * @type {string}
     */
    var xClientToken = sessionStorage.getItem("x-client-token");

    $(function () {
        $('title').text('欢迎您，${loginer.realName!}');
        $('#indexMenu').xTree({
            headerAuto : true,
            single : true,
            openFirstMenu : true,
            headerClick : function(){

            },
            itemClick : function (data) {
                $.ajaxPrefix({
                    url : data.url,
                    success : function (res) {
                        $('#indexBody').html(res);
                    }
                });
            }
        });
    });

</script>