@charset "UTF-8";
/*首页*/
.index-header{
    position: absolute;
    top: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    padding: 0 15px;
    background: #9fcdff;
}
.index-header > .index-title{
    font-size: 20px;
    color: #0001ff;
}
.index-footer > .index-title{
    font-size: 14px;
}

.index-container{
    position: absolute;
    top: 60px;
    bottom: 40px;
    width: 100%;
    color: #0001ff;
}

.index-footer{
    position: absolute;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    bottom: 0;
    padding: 0 15px;
    background: #9fcdff;
}

.index-menu{
    position: absolute;
    width: 200px;
    height: 100%;
    left: 0;
    border-right:1px solid #9fcdff;

}
.index-body{
    position: absolute;
    left: 200px;
    right: 0;
    height: 100%;
    color: #4a4a4a;
}
.body-box{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5px;
}

/*查询条件*/
.search-form{
    border-bottom: 1px solid #9fcdff;
    margin: 0 -5px;
    padding: 5px;
    height: 53px;
}
.page-container{
    position: absolute;
    top: 63px;
    bottom: 0;
    left: 5px;
    right: 5px;
    overflow: auto;
}

.search-form:after{
    clear: both;
}
.search-btn, .search-form>div {
    display: inline-block;
    float: left;
    padding-left: 10px;
}